			<!-- 	</div> closing content col -->
			<!-- </div>  closing content row -->
		</div> <!-- closing content container-->
		<div class='container' id='footer-nav'>
			<ul class='col-xs-4 list-unstyled'>
				<li><a href="/">Home</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/drinks">Drinks</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/reservations/new">Benny's Room</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
			<div class='col-xs-4 col-xs-offset-4'>
				<address>
				  <strong>Green Light Social</strong><br>
				  716 W 6th St<br>
				  Austin, TX 78701<br>
				  <abbr title="Phone">P:</abbr> (512) XXX-XXXX
				</address>
			</div>
		</div>
	</body>
</html>