
		<div class='container-fluid' id='footer-nav'>
			<ul class='col-md-3 col-md-offset-1 list-unstyled'>
				<li><a href="/">Home</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/specials">Specials</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/reservations/new">Reservations</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
			<div class='col-md-4'>
				
			</div>
			<div class='col-md-3 text-right'>
				<address>
				  <strong>Green Light Social</strong><br>
				  716 W 6th St<br>
				  Austin, TX 78701<br>
				  <abbr title="Phone">P:</abbr> (512) XXX-XXXX
				</address>
			</div>
		</div>
	</body>
</html>