
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Green Light Social</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="container" id='banner'>		
			
		</div>
		<div class='container' id='navigation'>
			<ul class='col-md-12 list-inline'>
				<li><a href="/"><h4>Home</h4></a></li>
				<li><a href="/events"><h4>Events</h4></a></li>
				<li><a href="/specials"><h4>Specials</h4></a></li>
				<li><a href="/contact"><h4>Contact</h4></a></li>
			</ul>
		</div>
			
		
