
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Green Light Social</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="container-fluid" id='banner'>		
			
		</div>
		<div class='container-fluid' id='navigation'>
			<ul class='col-md-12 text-center list-inline'>
				<li><a href="/"><h1>Home  </h1></a></li>
				<li><a href="/reservations/new"><h1>New Reservation</h1></a></li>
				<li><a href="/admin"><h1>  Admin</h1></a></li>
			</ul>
		</div>