<% include partials/header %>
	<div class='container'>
		<div class='col-md-5 col-md-offset-1 drinks'>
			<h1>Signature Cocktails</h1>
			<ul>
				<li>
					<h3>Moscow Mule</h3>
					<h6>Lorem ipsum et dolorem. Lorem ipsum et dolorem.
					Lorem ipsum et dolorem.Lorem ipsum et dolorem.</h6>
				</li>
				<li>
					<h3>Greyhound</h3>
					<h6>Lorem ipsum et dolorem. Lorem ipsum et dolorem.
					Lorem ipsum et dolorem.Lorem ipsum et dolorem.</h6>
				</li>
				<li>
					<h3>Old Fashioned</h3>
					<h6>Lorem ipsum et dolorem. Lorem ipsum et dolorem.
					Lorem ipsum et dolorem.Lorem ipsum et dolorem.</h6>
				</li>
				<li>
					<h3>Four Loko</h3>
					<h6>Lorem ipsum et dolorem. Lorem ipsum et dolorem.
					Lorem ipsum et dolorem.Lorem ipsum et dolorem.</h6>
				</li>
			</ul>
		</div>
		<div class='col-md-5 drinks'>
			<h1>Rotating Drafts</h1>
			<ul>
				<li>
					<h3>Austin Beer Works Peacemaker</h3>
				</li>
				<li>
					<h3>512 Big Bark</h3>
				</li>
				<li>
					<h3>South Austin Original TPA</h3>
				</li>
				<li>
					<h3>Four Loko</h3>
				</li>
			</ul>
		</div>
	</div>
<% include partials/footer %>