
<% include ./partials/header %>
<div class='container'>
	<div class='col-md-12 text-center cal'>
		<iframe src="https://calendar.google.com/calendar/embed?title=Green%20Light%20Social&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=e3rq8ef8l8em8ij9q42olbgt8s%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FChicago" width="800" height="400" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
<% include partials/footer %>