<% include ./partials/header %>
	<div class='container benny_box'>
		<div class='col-md-2'>
			<img src="images/benny.jpg" alt="Ben Thompson">
		</div>
		<div class='col-md-8 col-md-offset-1'>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet convallis lacus, vel egestas velit vehicula eget. Pellentesque efficitur, metus id sagittis aliquam, dolor erat hendrerit ante, et finibus diam urna vel ex. Cras dignissim risus nisi, vitae vestibulum mi euismod vel. Aliquam risus erat, varius eu ullamcorper sit amet, viverra ut nunc. Aliquam erat volutpat. Etiam nec blandit ante, sit amet ultricies purus. Sed ut mollis purus. Duis dictum gravida vulputate. Ut sed lorem felis. Phasellus pulvinar gravida turpis, at venenatis quam pellentesque vel.</P>
			<p>
			Sed at gravida enim, eget pellentesque nisi. In semper mi in interdum egestas. Etiam volutpat urna et mollis fringilla. Mauris est tortor, bibendum vitae lectus vitae, facilisis cursus nulla. Maecenas ut ex ac lacus lacinia luctus. Duis porta urna ut turpis mattis, nec euismod neque eleifend. Fusce sed mollis dolor. Pellentesque commodo tempor eros, in commodo turpis malesuada sit amet.
			</p>
		</div>
		
	</div>
<% include ./partials/footer %>