
.banner {
	background-color: #2abf77;
	border-bottom: 2px solid black;		
}

#brand {
	color: black;
	text-shadow: 1px 1px #36ce57;
	font-family: 'Tangerine', serif;
    font-size: 48px;
}

.benny_box {
	padding:10px;
	margin:50px; 
}
.benny_box img {
	border: 2px solid black;
}

#gmap_canvas {
	border: 2px solid black;
}

.map, .drinks, .cal {
	margin-bottom: 50px;
}

/*#navigation{
	width: 1400px;
	height:75px;
	background-color: rgba(20,20,20,.3);
	border-bottom: 2px solid black;
	color:white;
}

#navigation ul {
	padding-top: 18px;
	list-style-type: none;
}


#navigation a {
	color: black;
	list-style-type: none;
	text-decoration: none;
}

#navigation a:hover {
	list-style-type: none;
	color: #80f6ac;
}*/

.reservation_list {
	list-style-type: none;
	margin-bottom: 10px; 
	margin-left: 10px;
}

#footer-nav {
	color: black;
	border-top: 2px solid black;
}

#footer-nav a {
	color: #2abf77;
	list-style-type: none;
	text-decoration: none;
}

#footer-nav a:hover {
	color: black;
	list-style-type: none;
}

.drinks h1 {
	font-family: 'Tangerine', serif;
    font-size: 48px;
}
@media (max-width: 800px) {
    .hidden-800 {
        display:none !important;
    }
}
