
#banner {
	background-image: url(../images/banner.png);
	border-bottom: 2px solid black;	
	width: 1400px;
	height: 400px;
}

#navigation{
	width: 1400px;
	height:75px;
	background-color: rgba(20,20,20,.3);
	border-bottom: 2px solid black;
	color:white;
}

#navigation ul {
	padding-top: 18px;
	list-style-type: none;
}


#navigation a {
	color: black;
	list-style-type: none;
	text-decoration: none;
}

#navigation a:hover {
	list-style-type: none;
	color: #80f6ac;
}

.content {
	width: 1400px;
	border-bottom: 2px solid black;	
}

.reservation_list {
	border-bottom: 1px solid black;
}

.reservation_list ul {
	list-style-type: none;
}

#footer-nav {
	width: 1400px;
	background-color: white;
	color: black;
	border-top: 2px solid black;
}

#footer-nav ul {
	list-style-type: none;
}

#footer-nav a {
	color: black;
	list-style-type: none;
	text-decoration: none;
}

#footer-nav a:hover {
	list-style-type: none;
	text-decoration: underline;
}

.drinks h1 {
	font-family: 'Tangerine', serif;
    font-size: 48px;
}
